input[type=email], input[type=text], input[type=password] {
	background-color: white;
	width: 90%;
	color: blueviolet;
	margin-left: 0;
	border-color: blue;
	font-size: 20px;
}

.submit {
	background-color: white;
	border: 2px solid blue;
	color: black;
	padding: 10px 30px;
	margin-left: 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition: .3s ease;
}

.submit:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	background-color: #4CAF50;
	scale: 1.5;
	color: white;
}

.form {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	/*opacity: .9;
	background-image:
		url('https://media.istockphoto.com/id/585804852/photo/professional-networking-connections-between-business-people-team-group-of-colleagues.jpg?b=1&s=170667a&w=0&k=20&c=3BNRO-wxbV2pATqyCFel8qYUrVnqYFTViMBUBl2-dQk=');
	background-repeat: no-repeat;
	background-size: cover;*/
}

table {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 400px;
	border-collapse: collapse;
	border-radius: 12px 12px 0 0;
	border-spacing: 0;
	box-shadow: 0 2px 12px rgba(32, 32, 32, -3);
	background: #fafafa;
	background-color: rgba(0, 0, 0, .5);
}

label {
	font-size: 25px;
	padding-left: 25px;
	color: white;
}

select {
	text-align: center;
	background-color: white;
	width: 50%;
	color: blueviolet;
	margin-left: 0;
	border-color: blue;
	font-size: 20px;
}

