<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="/css/payment.css" rel="stylesheet" type="text/css">
<title>Payment Page</title>
</head>
<body>
    <div class="mainscreen">
      <div class="card">
        <div class="leftside">
          <img
            src="https://images.unsplash.com/photo-1567521464027-f127ff144326?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FudGVlbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            class="product"
          />
        </div>
        <div class="rightside">
          <form action="" id="form">
            <h1>CheckOut</h1>
            <h2>Payment Information</h2>
            <p>Cardholder Name</p>
            <input type="text" class="inputbox" name="name" placeholder="Name" required />
            <p>Card Number</p>
            <input type="number" class="inputbox" name="card_number" id="card_number" placeholder="1234 5678 3548" required />

            <p>Card Type</p>
            <select class="inputbox" name="card_type" id="card_type" required>
              <option value="">--Select a Card Type--</option>
              <option value="Visa">Visa</option>
              <option value="RuPay">RuPay</option>
              <option value="MasterCard">MasterCard</option>
            </select>
<div class="expcvv">

            <p class="expcvv_text">Expiry</p>
            <input type="date" class="inputbox" name="exp_date" id="exp_date" required />

            <p class="expcvv_text2">CVV</p>
            <input type="password" class="inputbox" name="cvv" id="cvv" maxlength="3" required />
            
            <p class="expcvv_text2">Total</p>
            <input type="text" class="inputbox" th:value="${order.totalAmount}" readonly/>
  
        </div>
            <p></p>
            <a th:href="@{/user/payment/pay/paid(id=${order.orderId})}" onclick="check()"><button type="button" class="button">CheckOut</button></a>
          </form>
        </div>
      </div>
    </div>
    <script>
    	function check(){
    		const formel = new FormData(document.getElementById("form"));
    		console.log(formel);
    		return false;
    	}
    </script>
</body>
</html>