<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Successful</title>
<link rel="stylesheet" href="/css/registrationFailed.css">
<link href="/css/failurecss.css" rel="StyleSheet">
</head>
<body>
	
	    <div class="mainbody">
		<div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
               <i class="fa fa-check successcheck" aria-hidden="true"></i>
      </div>
        <h1 class="successHeading">Registration Successful.</h1> 
        <p>User Registered Successfully! Login with your credentials.<br><a href="/">Go back to Homepage</a></p>
      </div>
      <script src="https://kit.fontawesome.com/f75dc8e629.js" crossorigin="anonymous"></script>
    </div>
    <!-- --------------------------------------------FOOTER-------------------------------------------------------->
    <div class="footer">
        <p>Copyright &copy; 2023 NRI Fintech. All rights reserved.</p>
    </div>
</body>
</html>